
.borderbox{
/*    border: 1px #CCCCCC solid;*/
    padding: 5px;

}
#map_canvas {
    height: 400px;
    width: 400px;
}

.hidden{
    display: none;
}

.main_content{
    float:left;
    width: 70%;
}
.right_hand_content{
    margin-right: 5px;
    float:right;
    width: 25%;
}
.content_box {
    color: #444444;
    border-style: solid;
    border-width: 2px;
    border-color: #DDDDDD;
    /*    background-image: url(../images/box_gradient.png);*/
    background-repeat: repeat-x;
    margin: 3px;
    padding: 10px;
    font-family: courier;
}

.button{
    float: right;
    color: #DDDDDD
}
a{
    color: #DDDDDD;
}
input{
    color: #555555;
    border-color: #DDDDDD;
}

.pleasenote{
    border-style: dashed;
    border-color: red;
    border-width: 1px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ad_header {
    padding-top: 6px;
    height: 30px;
    text-align: center; 
}
